::selection {
    background: blueviolet;
}
* {
    color: rgb(2,233 , 18);
}
body {
    background-color: black;
}
#blockel {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 15px rgb(81, 102, 39) solid;
    background-color: rgb(100, 78, 49);
    box-sizing: content-box; /* box-sizing is content-box by default*/
}
#inlineel {
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 15px rgb(81, 102, 39) solid;
    background-color: rgb(100, 78, 49);
    margin-top: 2rem;
    box-sizing: border-box; /*it limits the content size as defiined in height and width*/
}