::selection {
    background: blueviolet;
}
* {
    color: rgb(255, 255, 255);
}
body {
    background-color: black;}
a  {
    display: block;
    margin-bottom: 1rem;
    color: rgb(93, 240, 79);
}
.box1, .box2, .box3 {
    height: 5rem;
    width: 5rem;
    background-color: rgb(85, 133, 117);
    margin: 1rem;
}
.container {
    border: 1px solid gray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
}
.box1 {
    align-self: flex-start;
}